$theme-colors: (
    "primary": #091661,
    "dark": #000000
);

.dropdown-item {
    @extend %dropdown-item;
     background-color: red;
    &.active,
    &:active {
      color: $dropdown-link-active-color;
      background-color: red;
      text-decoration: none;
    }
  }
  


@import "node_modules/bootstrap/scss/bootstrap";

